.orange{
    background: orange;
}
.purple{
    background: purple;
}
.red{
    background: red;
}
.green{
    background: green;
}
.chocolate{
    background: chocolate;
}
.bold{
    font-weight: bold;
}