.home-container{
    display: grid;
    grid-template-columns:  3fr 1fr;
    gap: 12px;
    margin-top: 50px;
}
.tShirt-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}